<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t(:fetch_app_settings) %></h1>

<table id='listing_fetch_app_settings'>
  <tr>
    <th scope="row"><%= t(:fetch_app_app_name) %>:</th>
    <td><%= SpreeFetchApp::Config[:app_name] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t(:fetch_app_api_key) %>:</th>
    <td><%= SpreeFetchApp::Config[:api_key] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t(:fetch_app_api_token) %>:</th>
    <td><%= SpreeFetchApp::Config[:api_token] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t(:fetch_app_push_on_order_complete) %>:</th>
    <td><%= SpreeFetchApp::Config[:push_on_order_complete] %></td>
  </tr>
</table>

<p data-hook="buttons">
  <%= link_to_with_icon 'edit', t(:edit), edit_admin_fetch_app_settings_path %>
</p>
