<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t(:fetchapp_settings) %></h1>

  <%= link_to t(:fetchapp_signup), 'http://www.fetchapp.com/' %>

<%= form_tag admin_fetchapp_settings_path, :method => :put do %>

    <%= label_tag('app_name', t(:fetchapp_app_name) + ': ') + tag(:br) %>
    <%# I wanted to use preference_field_tag, but the text field size is locked in at 10! %>
    <%= text_field_tag 'preferences[app_name]', SpreeFetchapp::Config[:app_name], :size => "30", :class => "input_string" %>
    <br/>

    <%= label_tag('login', t(:fetchapp_login) + ': ') + tag(:br) %>
    <%= text_field_tag 'preferences[login]', SpreeFetchapp::Config[:login], :size => "20", :class => "input_string" %>
    <br/>

    <%= label_tag('password', t(:fetchapp_password) + ': ') + tag(:br) %>
    <%= text_field_tag 'preferences[password]', SpreeFetchapp::Config[:password], :size => "20", :class => "input_string" %>
    <br/>


  <p class="form-buttons">
    <%= button t(:update) %>
    <%= t(:or) %> <%= link_to t(:cancel), admin_fetchapp_settings_url %>
  </p>

<% end %>
